* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.navbar__s1--title {
    color: #A435F0;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
font-size: 16px;
background-color: transparent;
    width: 100%;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top:150%;
    border-radius: 8px;
    padding: 20px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;

}

.catagories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1PX;

}
.catagories P{
    background-color: #A435F0;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
.sale-image img{
    width: 100%;

}
.sale-image{
    position: relative;
}
.sale-image__offer{
    background-color: white;
    border: none;
    width: 500px;
    padding: 20px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 50px;
    border-radius: 10px;
}
.recommended{
    padding: 10px;

}
.course-card{
    width: 270px;
}
.course-card img{
    width: 100%;
    height: 50%;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}